<!DOCTYPE html>
<html>
<head>
<title>Registrarse</title>
<style>
#header {
    background-color:#C6C9D0;
    color:black;
    text-align:center;
    padding:5px;     
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:600px;
    width:200px;
    float:left;
    padding:5px;          
}
#section {
    width:350px;
    float:left;
    padding-top:15px;
    padding-left: 250px;         
}
#footer {
    background-color:#C6C9D0;
    color:black;
    clear:both;
    text-align:center;
    padding:5px;         
}
</style>
</head>
<body>

<div id="header">
<h1></h1>
</div>


<div id="section">
    <h2>Crea tu cuenta en Cofradía</h2>
    <form action="/nuevoUSuario/"method="GET">
        Nombre:<br>
        <input type="text" name="nombre"><br>
        Apellido:<br>
        <input type="text" name="apellido"><br>
        Fecha de Nacimiento:<br>
        <input type="date" name="fechaNacimiento"><br><br>
        Sexo.
        <input type="radio" name="sex" value="True" checked>Mujer
        <input type="radio" name="sex" value="False">Hombre
        <input type="radio" name="sex" value="otro">Otro
        <br><br>
        Direccion de Correo:<br>
        <input type="email" name="eMail"><br>
        Nombre de Usuario:<br>
        {% if userValido %} 
            <p style="color:red;">Nombre de Usuario ya existe</p> 
        {% endif %}  
        <input type="text" name="user">
        <br>
        Contrasena:<br>
        <input type="password" name="pass1"><br>
        Confirmar Contrasena:<br>
        <input type="password" name="pass2"><br>
        Telefono:<br>
        <input type="text" name="unTel"><br><br>

        <input type="checkbox" name="condiciones" value="condiciones">Acepto las <a href="">Condiciones del servicio</a> y la <a href="">Politica de privacidad</a> de Cofradía!
        <br><br>
        <input type="submit" value="Registrarme">
        <input type="button" onclick="" value="Volver">
    </form>
    <br>
</div>

<div id="footer">
Copyright © PandoraHS.com
</div>

</body>
</html>