<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
	<head>
		<title>{{titulo}}</title>
		<meta http-equiv="Content-Type"content="text/html;" charset="UTF-8">
		<!-- hace la app device responsive -->
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="shortcut icon" href="{% static 'img/cofradia.ico' %}"/>
		<link href="{% static 'css/stylesheet.css' %}" rel="stylesheet"/>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	</head>
	
	<body>
		<div class="contenedor">

		
			
		</div>

		<!-- ultimas versiones de jscript y bootstrap -->
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	</body>